<div class="container">
<div class="col-md-6"><h1>Properties For Sale</h1></div>

<div class = "col-md-6">
    <h3>Add New Property Listing</h3>
    <input type: "number" ng-model="vm.newProperty.cost" placeholder="Asking Price">
    <input type: "number" ng-model="vm.newProperty.sqft" placeholder="Square Feet">
    <input type="text" ng-model="vm.newProperty.city" placeholder="City">
    <button ng-click="vm.addProperty(vm.newProperty)">Submit</button>
</div>
</br>
<hr>
</br>
</br>
</br>
</br>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Property Id</th>
                <th>Square Feet</th>
                <th>Asking Price</th>
                <th>City</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="listing in vm.listings.list" >
                <td> {{listing._id}} </td>
                <td> {{listing.sqft}} </td>
                <td> {{listing.cost | currency: "$" : 0}} </td>
                <td> {{listing.city}} </td>
                <td>
                    <button ng-click="vm.deleteThis(listing)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
