<h1>Properties For Sale</h1>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Property Id</th>
                <th>Asking Price</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="listing in vm.listings.list" >
                <td> {{listing._id}} </td>
                <td> {{listing.cost | currency: "$" : 0}} </td>
                <td> {{listing.city}} </td>
            </tr>
        </tbody>
    </table>
</div>